body{
    background-image: url("лес.jpg");
    background-size: cover;
    background-position: bottom;
}
img{
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%,-50%);
    
}
html{
    height: 100%;
}
.tree{
    transform: translate(-25%,-20%);
}
#guy{
    z-index: 999999999999999999999999999999;
}