body{
    background-image: url("лес.jpg");
    background-size: cover;
    background-position: bottom;
    font-family: "Seymour One", sans-serif;
}
img{
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%,-50%);
    
}
html{
    height: 100%;
}
.tree{
    transform: translate(-25%,-20%);
    transition: 0.9s;
}
#guy{
    z-index: 999999999999999999999999999999;
}
h4{
    font-weight: normal;
    color: #ffffff;
}