input{
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
    position: relative;
    border: none;
    height: 30px;
    border-radius: 10000000000px;
    padding: 0 20px;
    transition: 0.3s;
    outline: 2px solid transparent;
    font-family: "Comfortaa", sans-serif;
    background: white;
}
input:focus{
    outline: 2px solid gold;
}
.bigdiv{
border: 1px solid #603c3c7f;
height: 300px;
border-radius: 10000000000000000000000px;
width: 300px;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
#modal{
    position: fixed;
    background-color: yellow;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
}
.circle{
    width: 50px;
    height: 50px;
    background-color: #603c3c7f;
    border-radius: 100px;
    position: fixed;
    animation: 2s 1 circle;
    animation-timing-function: linear;
    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
}
h4,button{
    font-family: "Comfortaa", sans-serif;
}
h1{
    font-family: "Lobster", sans-serif;
    z-index: 5;
    position: relative;
    pointer-events: none;
}
button{
    background-color: white;
    height: 50px;
    padding: 0 20px;
border: none;
border-radius: 10px;
border: 1px solid transparent;
transition: 0.5s;
}
button:hover{
    border: 1px solid #444;
}
@keyframes circle{
    0%{
        transform:scale(1) ; 
    }
    50%{
        transform:scale(1.3) ;
    }
    100%{
        transform:scale(0) ;
    }
}